body {
	margin: 0;
	padding: 0;
	font-family: arial;
}

div h1{
	font-size: 50px;
	text-align: center;
	margin-top: 30px;
}
.left_side{
	float: left;
	text-align: center;
	width: 1000px;
}
.left_side h1{
	margin-top: 20px;
	font-size: 50px; 
}
.right_side{
	float: left;
	width: 536px;
	height: 20px;
	background-color: blue;
}